@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*UNIVERSAL*/
body {
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
}

.mobile {
  display: none;
}

.banner-mobile {
  display: none;
}

.alternate {
  background-color: #d2d6d9;
}

/*HEADER STYLES*/
.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  font-size: 18px;
  position: fixed;
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 24px;
}

.nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.nav p{
  padding: 0 16px;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header-mobile {
    max-width: 480px;
    display: flex;
    justify-content: center;
  }

  .header-mobile img {
    padding: 1rem 3rem;
  }
}

/*PAGE WRAPPER*/
.content {
  position: absolute;
  top: 64px;
}

@media only screen and (max-width: 480px) {
  .content {
    max-width: 480px;
  }
}

/*BANNER STYLES*/
.banner {
  max-width: 100%;
  background-color: #d2d6d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1.5rem 2rem 0.1rem;
}

.banner img {
  width: 50%;
  height: auto;
  margin-right: 2.5rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  width: 340px;
  color: #333333;
}

.button {
  padding: 0.5rem;
  background-color: #333333;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .banner-mobile {
    display: block;
  }

  .blank {
    height: 180px;
    background-color: #333333;
  }

  .banner-text {
    background-color: #d2d6d9;
    padding: 1rem;
  }

  .button {
    padding: 0.5rem 9rem 0.5rem 0.5rem;
  }
}

/* INFORMATION SECTION STYLES*/
.secondary {
  width: 100%;
  display: flex;
}

.secondary-left {
  width: 50%;
  height: auto;
  padding: 2rem 5.25rem;
}

.secondary-left img {
  max-width: 707.2px;
  height: auto;
}

.secondary-right {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.info {
  border: 0.25px solid #d2d6d9;
  border-top: none !important;
  border-right: none !important;
  display: flex;
  align-items: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem
}

.info-text p {
  font-size: 12px;
}

.info-text a {
  font-size: 11px;
  padding-top: 1rem;
  color: #8ac7db;
  text-decoration: none;
  font-weight: 600;
}

.info img {
  max-width: 27%;
  height: auto;
  padding: 16px;
}

@media only screen and (max-width: 480px) {
  .secondary-left {
    display: none;
  }

  .info {
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .info img {
    max-width: 90%;
    padding: 1rem;
  }

  .alternate {
    background-color: #fff;
  }

  .info-text {
    width: 50%;
    margin-left: -12rem;
  }
}

/*LEARNING SECTION*/
.learning {
  background-color: #d2d6d9;
  margin-top: 0px;
}

.learning h1 {
  margin: 0;
  padding: 32px 0;
  text-align: center;
}

.programs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.program {
  min-height: 18rem;
  width: 18rem;
  margin-right: 2rem;
  background-color: #fff;
}

.program img {
  width: 100%;
  height: auto;
}

.course {
  background-color: #fff;
  max-width: 100%;
  padding: 0rem 0.75rem;
  font-size: 13px;
  font-weight: 200;
}

.course h4 {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .learning {
    background-color: #fff;
  }

  #programs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items: baseline;
    margin: 0 2rem;
  }

  .major {
    background-color: #d2d6d9;
    margin: 0.5rem auto;
    width: 100%;
  }

  .major h4 {
    padding: 0 2rem;
  }
}

/*THESIS STYLES*/
.thesis {
  width: 100%;
}

.thesis h1 {
  margin: 0;
  padding: 32px 0;
  text-align: center;
}

.container {
  display: flex;
}

.thesis-left {
  max-width: 60%;
  padding: 32px 16px 24px 24px;
}

.thesis-right {
  width: 423px;
  margin-top: 2rem;
}

.thesis-right .info {
  border: none;
}

.thesis-text {
  font-size: 13px;
  font-weight: 200;
}

.thesis-text h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 480px) {
  .thesis-right {
    display: none;
  }

  .thesis-left {
    max-width: 480px;
  }
}

/*FOOTER STYLES*/
footer {
  border-top: 1px solid #d2d6d9;
  font-size: 11px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav p {
  padding: 0 12px;
}

@media only screen and (max-width: 480px) {
  .footer-nav {
    display: none;
  }
}
